{% extends 'base1.html' %}
{% block title %}사이트 생성{% endblock %}
{% block content %}

<form action="{% url 'r_dbupdate' movie_id=movie_id %}" method="post">
    {% csrf_token %}
    <h3>{{ title }}</h3><br>
    <h4 style="text-align: left">아이디: {{ request.session.id }}</h4>
    <br>
    <h5 align="left">수정할 내용</h5>
    <textarea name="content" style="text-align:left; width:800px; height:200px;">{{ content }}</textarea>
    <input type="hidden" name="reply_id" value={{ reply_id }}>
    <button style="float: right" type="submit" class="btn btn-primary">관람평 수정</button>
</form>

{% endblock %}