{% extends 'base.html' %}
{% block title %}빅메가박스{% endblock %}

{% block content %}
<h1>회원가입</h1>
    <img src="../../static/confirm1.png">
<hr color="blue">
    <div>
        <br>
        <img src="../../static/profile.png">
        <br>
        <br>
        <h2><font style="color: orangered">{{ name }}</font>님! 이미 회원으로 등록되어 있습니다.</h2><br>
        <h6>회원 아이디({{ id }})로 로그인 하시거나 비밀번호 찾기를 진행해 주세요.</h6><br><br>
        <a href="{% url 'member_find_pw' %}" class="btn btn-success">비밀번호 찾기</a>&nbsp&nbsp&nbsp&nbsp<a href="{% url 'login' %}" class="btn btn-info">로그인</a>
    </div>
{% endblock %}
